

<div class="topbar">
  <div id="barra">
  </div>

  <a href="https://www.ucm.es/" title="Universidad Complutense de Madrid">
    <img src="https://biblioteca.ucm.es/data/cont/docs/60-2016-09-20-Marca%20UCM%20Secundaria%20logo%20negro%20RGB.jpg" 
    alt="ucm" title="Universidad Complutense de Madrid" style="width:20%;height:20%;margin: 2%;" >
  </a>
  <a href="https://informatica.ucm.es/" title="Facultad de Informática de Universidad Complutense de Madrid">
    <img src="https://informatica.ucm.es/data/cont/media/www/pag-78821/escudofdigrande.png" 
    alt="ucm" title="Facultad de Informática" style="width:5%;height:5%;margin: 2%;" align="right">
  </a>
</div>
<header>
  <h1>Sistema de simplificación de textos en español</h1>
  
</header>
<div class="container">
  <div class="input-area">
    <h3 style="margin-bottom: 5px;">Texto a simplificar</h3>
      <form (ngSubmit)="submitForm()">
        <label>
          <input type="checkbox" [(ngModel)]="selectedOptionSintactica" name="option1" title="Selección esta opción para realizar la Simplificación Sintática"> Sintáctica
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="selectedOptionLexica" name="option2" title="Selección esta opción para realizar la Simplificación Léxica"> Léxica
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="selectedOptionResumen" name="option3" title="Selección esta opción para realizar el resumen del texto"> Resumen
        </label>
        <div class="textarea-container">
          <textarea type="text" [(ngModel)]="textInput" (input)="countWords()" [disabled]="isLimitReached" placeholder="Introducir texto para simplificar..." name="inputext"></textarea>          
          <div class="word-count">{{ letterCount }} / 5000</div>
        </div>
        <button type="submit" title="Pulsar este botón para simplificar el texto introducido">Simplificar</button>
      </form> 

  </div>
  <div class="output-area">
    <h3 style="margin-bottom: 5px;">Texto simplificado</h3>
    <textarea id="translated-text" *ngIf="!isProcessing && hayOpcion" style="margin-top: 3.5%;background-color: #f5f5f5;" readonly>{{ respuesta }}
    </textarea>
    <textarea id="translated-text" *ngIf="isProcessing && hayOpcion" style="margin-top: 3.5%;background-color: #f5f5f5;" readonly>Procesando...
    </textarea>
    <textarea id="translated-text" *ngIf="!hayOpcion" style="margin-top: 3.5%;background-color: #f5f5f5;" readonly>Por favor, elija una opción antes de pulsar el botón de simplificar.
    </textarea>
  </div>


</div>
<header>
<h2 *ngIf="masDeUnaOpcion">Cambios realizados por cada tipo de simplificación</h2>
</header>
  <div class="container2" *ngIf="masDeUnaOpcion">
    <div class="output-area" *ngIf="resumenSelect">
      <h3 style="margin-bottom: 5px;">Resumen</h3>
      <textarea id="translated-text" style="margin-top: 3.5%;background-color: #f5f5f5;" readonly>{{respuesta2}}</textarea>
    </div>
  
    <div class="output-area" *ngIf="sintacticaSelect">
      <h3 style="margin-bottom: 5px;">Simplificación Sintáctica</h3>
      <textarea id="translated-text" *ngIf="!resumenSelect" style="margin-top: 3.5%;background-color: #f5f5f5;" readonly>{{respuesta2}}</textarea>
      <textarea id="translated-text" *ngIf="resumenSelect" style="margin-top: 3.5%;background-color: #f5f5f5;" readonly>{{respuesta3}}</textarea>
    </div>
  
    <div class="output-area" *ngIf="lexicaSelect">
      <h3 style="margin-bottom: 5px;">Simplificación Léxica</h3>
      <textarea id="translated-text" *ngIf="(!resumenSelect && sintacticaSelect) || (resumenSelect && !sintacticaSelect)" style="margin-top: 3.5%;background-color: #f5f5f5;" readonly>{{respuesta3}}</textarea>
      <textarea id="translated-text" *ngIf="resumenSelect && sintacticaSelect" style="margin-top: 3.5%;background-color: #f5f5f5;" readonly>{{respuesta4}}</textarea>
    </div>


